# target file ignore
**/target/

jpashop/HELP.md
jpashop/.gradle
jpashop/build/
jpashop/!gradle/wrapper/gradle-wrapper.jar
jpashop/!**/src/main/**/build/
jpashop/!**/src/test/**/build/

### STS ###
jpashop/.apt_generated
jpashop/.classpath
jpashop/.factorypath
jpashop/.project
jpashop/.settings
jpashop/.springBeans
jpashop/.sts4-cache
jpashop/bin/
jpashop/!**/src/main/**/bin/
jpashop/!**/src/test/**/bin/

### IntelliJ IDEA ###
jpashop/.idea
jpashop/*.iws
jpashop/*.iml
jpashop/*.ipr
jpashop/out/
jpashop/!**/src/main/**/out/
jpashop/!**/src/test/**/out/
jpashop/src/main/generated/

### NetBeans ###
jpashop/nbproject/private/
jpashop/nbbuild/
jpashop/dist/
jpashop/nbdist/
jpashop/.nb-gradle/

### VS Code ###
jpashop/.vscode/

### data-jpa ###
data-jpa/HELP.md
data-jpa/.gradle
data-jpa/build/
data-jpa/!gradle/wrapper/gradle-wrapper.jar
data-jpa/!**/src/main/**/build/
data-jpa/!**/src/test/**/build/

### STS ###
data-jpa/.apt_generated
data-jpa/.classpath
data-jpa/.factorypath
data-jpa/.project
data-jpa/.settings
data-jpa/.springBeans
data-jpa/.sts4-cache
data-jpa/bin/
data-jpa/!**/src/main/**/bin/
data-jpa/!**/src/test/**/bin/

### IntelliJ IDEA ###
data-jpa/.idea
data-jpa/*.iws
data-jpa/*.iml
data-jpa/*.ipr
data-jpa/out/
data-jpa/!**/src/main/**/out/
data-jpa/!**/src/test/**/out/
data-jpa/src/main/generated/

### NetBeans ###
data-jpa/nbproject/private/
data-jpa/nbbuild/
data-jpa/dist/
data-jpa/nbdist/
data-jpa/.nb-gradle/

### VS Code ###
data-jpa/.vscode/

### querydsl ###
querydsl/HELP.md
querydsl/.gradle
querydsl/build/
querydsl/!gradle/wrapper/gradle-wrapper.jar
querydsl/!**/src/main/**/build/
querydsl/!**/src/test/**/build/

### STS ###
querydsl/.apt_generated
querydsl/.classpath
querydsl/.factorypath
querydsl/.project
querydsl/.settings
querydsl/.springBeans
querydsl/.sts4-cache
querydsl/bin/
querydsl/!**/src/main/**/bin/
querydsl/!**/src/test/**/bin/

### IntelliJ IDEA ###
querydsl/.idea
querydsl/*.iws
querydsl/*.iml
querydsl/*.ipr
querydsl/out/
querydsl/!**/src/main/**/out/
querydsl/!**/src/test/**/out/
querydsl/src/main/generated/

### NetBeans ###
querydsl/nbproject/private/
querydsl/nbbuild/
querydsl/dist/
querydsl/nbdist/
querydsl/.nb-gradle/

### VS Code ###
querydsl/.vscode/

